<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="tunning">ACCESS GR4NTED</h1>
    <style type="text/css">
      .tunning {
        text-align: center;
        font-family: Arial Black;
        font-weight: bold;
        font-size: 34px;
        color: #08090D;
        text-shadow: -1px 0 #fff, 0 4px #fff, 1px 0 #fff, 0 -1px #fff;
      }
    </style>
    <!-- <p>
            printf(<a href="https://{{ site.blog.nick }}.{{ site.blog.server }}" target="_blank"><span class="string">"https://<span class="reserved">%s</span>.{{ site.blog.server }}<span class="reserved">\n</span>"</span></a>,nick);
        </p> -->
  </div>
</header>

{% include menu.html %}
